*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    box-sizing: border-box;
}



body{
    background-color: #f0ffff;
}

button{
    background-color: #F0FFFF;
    color: black;
    border: 2px solid #C9DEE6;
    padding: .3rem .6rem;
    font-size: 1rem;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    transition: .4s;
    border-radius: 7px;
}

button:hover{
    background-color: #8D748C;
    color: aliceblue;
}

.img-feito{
    width: 10px;
    height: 10px;    
}

input, select{
    padding: .25rem .5rem;
}

.hide{
    display: none;
}

/* ToDo header */
.todo-container{
    max-width: 450px;
    margin: 3rem auto;
    background-color: #C9DEE6;
    padding: 1.5rem;
    border-radius: 15px;
}

.todo-container header{
    text-align: center;
    padding: 0 1rem 1rem;
    border-bottom: 1px solid #ccc;
}

#edit-form, #todo-form{
    padding: 1rem;
    border-bottom: 1px solid #ccc;
}

#todo-form p,
#edit-form p{
    margin-bottom: .5rem;
    font-weight: bold;
}

.form-control{
    display: flex;
}

.form-control input{
    margin-right: .3rem;
}

#cancel-edit-btn{
    margin-top: 1rem;
}


